<br>
<h3>Desarrollado por Sebasti&aacute;n Reverso</h3>
<br>
<img src="/images/profile_pic.jpg" style="width:128px;height:128px;">
<br>
<p>M&aacute;s informaci&oacute;n sobre m&iacute en mi <a href="https://ar.linkedin.com/in/sebareverso">perfil de LinkedIn</a></p>
